.bannerSlider + .swiperDots {
  button.swiper-pagination-bullet {
    background: $colorInfo;
    height: 2.5px;
    border-radius: 1px;
    width: 42px;
    opacity: 1;
  }
  button.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $colorSecondary;
  }
  button {
    &:focus-visible {
      box-shadow: $colorLight 0px 1px 2px, $colorLight 0px 0px 0px 2px;
    }
  }
}
.menuOverlay {
  background: RGBA(0, 0, 0, 0);
  @include screen('mobile') {
    background: RGBA(0, 0, 0, 0.5);
  }
}
.breadcrumb {
  margin-bottom: 2rem;
  position: relative;
  font-weight: 500;
  padding-left: 3rem;
  li {
    line-height: 2rem;
  }
  &::before {
    position: absolute;
    content: '';
    background: url(../images/customize_img/breadcrumb_icon.png) center center no-repeat;
    background-size: contain;
    width: 35px;
    height: 30px;
    top: 0;
    left: 0;
  }
}
h2.title {
  position: relative;
  line-height: 1.75rem;
  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 150px;
    height: 6px;
    bottom: -15px;
    border-radius: 3px;
    background: $colorSecondary;
  }
  margin-bottom: 2rem;
  + .subTitle {
    font-size: 1.25rem;
    color: $colorPrimary;
    margin-bottom: 1rem;
    display: block;
  }
}
.titleTag {
  background: darken($colorSecondary, 20%);
  display: inline-block;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.25rem 0.75rem;
}

.main {
  background: url(../images/customize_img/bg_icon.png) center 25vh no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin-bottom: 0;

  padding-bottom: 5em;
  .container {
    flex-wrap: wrap;
  }
}
.btnSearch {
  background: $colorSecondary;
  color: #000;
  &:hover {
    background: lighten($colorSecondary, 15);
  }
}
.leftBlock {
  .nodeMenu {
    border-radius: 0.5rem;
  }

  .title {
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 400;

    background: $colorPrimary;
    padding: 1rem 0.5rem;
  }
  .nodeMenu {
    .accordion {
      ul {
        padding: 0;
        li {
          // border: 0;
          border-color: $colorGray;
          .accordionList {
            width: calc(100% - 1rem);
            padding: 10px 50px 10px 20px;
          }
          > a,
          button {
            margin: 0rem 0.5rem;
            background: #fff;
            color: $colorWord;
            border-radius: 0.5rem;
            &:hover,
            &:focus {
              background: lighten($colorGray, 10%);
            }
          }

          &.active {
            > button {
              background: lighten($colorGray, 5%);
            }
          }
          ul {
            li {
              button {
                &:hover,
                &:focus {
                  background: $colorInfo;
                }
              }
              // a {
              //   &:hover {
              //     margin-left: 0;
              //     background: lighten($colorSecondary, 45%);
              //     padding-left: 1.25rem;
              //     border-radius: 0.5rem;
              //   }
              // }
            }
            li.active {
              button {
                background: $colorInfo;
              }
            }
          }
        }
      }
      .active .accordionArrow {
        transform: rotate(45deg);
        top: calc(50% - 7px);
      }
      .accordionArrow {
        &::after {
          border: 2px solid $colorPrimary;
          border-bottom: 0;
          border-left: 0;
        }
      }
      .content {
        a {
          margin-left: 1.25rem;
        }
      }
    }
  }
}
.flexForm .formTitle {
  padding: 0.3em 0.5em;
}
.np.submenu {
  ul {
    li {
      a {
        border: 1px solid #ccc;
        background: lighten($colorInfo, 5%);
        border-radius: 0.25rem;
        &:hover {
          border: 1px solid #fff;
          box-shadow: $colorSecondary 0px 1px 3px, $colorSecondary 0px 0px 0px 2px;
        }
      }
    }
  }
}
table.tableSprite {
  margin-top: 2rem;
  .srTitle {
    @include srOnly;
  }
  th {
    background: $colorPrimary;
    color: #fff;
  }
  tbody {
    tr {
      background: #fff;
      &:nth-child(even) {
        background-color: lighten($colorInfo, 3%);
      }
    }
    td.date {
      word-break: keep-all;
    }
  }
}

.cp table {
  th {
    background: $colorPrimary;
    color: #fff;
  }
}
.cpSlider {
  .swiper {
    background: #fff0;
  }
  .imgContainer {
    background: $colorInfo;
  }
  .swiperDots {
    button {
      height: 4px;
      border-radius: 4px;
      width: 42px;
    }
    .swiper-pagination-bullet-active {
      background: $colorSecondary;
    }
  }
}
.albumCardList {
  .thumbnail {
    border-radius: 0.5rem;
    .imgContainer {
      background: #fff;
      width: calc(100% - 1rem);
      border-radius: 0.5rem;
      margin: 0.5rem auto;
      max-height: 14rem;
      iframe {
        width: 100%;
        aspect-ratio: 4/3;
        display: block;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .type {
      display: inline-block;
      position: absolute;
      top: 0;
      background: $aColor;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0 0.5rem 0rem 0.5rem;
      right: 0.5rem;
    }
    img,
    iframe {
      transition: all 0.3s;
    }
    p {
      @include textLine(4, 23.2px);
    }
    &:hover {
      iframe,
      img {
        transition: all 0.3s;
        transform: scale(1.1);
      }
    }
  }
}
.webLink {
  li {
    border-color: $colorGray;
  }
}
.searchBlock {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
  background: $btnBg;
  border-radius: 0 1rem 1rem 1rem;
  form {
    display: flex;
    @include screen('mobile') {
      flex-wrap: wrap;
    }
    .formGrp {
      display: flex;
      white-space: nowrap;
      label {
        margin-bottom: 0;
        line-height: 49px;
      }
    }
    .btn {
      &.btnSubmit {
        border: 1px solid $aColor;
      }
      border: 1px solid $colorPrimary;
    }
  }
}
.calendar {
  .week {
    margin-bottom: 1rem;
    ul {
      padding-left: 0;
      display: flex;
      list-style: none;
      justify-content: center;
      .btn {
        border: 1px solid $colorPrimary;
        border-radius: 0.25rem;
        background: unset;
        color: $colorPrimary;
        padding: 0.6rem 3rem;
        &:hover {
          background-color: $colorPrimary;
          color: #fff;
        }
        &.thisweek {
          background-color: $colorPrimary;
          color: #fff;
        }
        &.lastweek {
          position: relative;
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 12px 8px 0;
            border-color: transparent $colorPrimary transparent transparent;
            display: inline-block;
            position: absolute;
            left: 1.3rem;
            top: 0.85rem;
          }
          &:hover {
            &::before {
              border-color: transparent #fff transparent transparent;
            }
          }
        }
        &.nextweek {
          position: relative;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 12px;
            border-color: transparent transparent transparent $colorPrimary;
            display: inline-block;
            position: absolute;
            right: 1.3em;
            top: 0.85em;
          }
          &:hover {
            &:after {
              border-color: transparent transparent transparent #fff;
            }
          }
        }
      }

      + .number {
        text-align: center;
      }
    }
  }
}

.questionAccordion {
  .accordion {
    li {
      &.active {
        button {
          background: $colorSecondary;
          color: $colorWord;
        }
        .accordionArrow {
          &::after {
            border-color: #fff;
          }
        }
      }
      button {
        font-size: 1.17rem;
        font-weight: bold;
        margin-left: 0;
        border: 1px solid $colorSecondary;
        border-left: 10px solid $colorSecondary;
        background: #fff;
        color: $colorWord;

        &:hover {
          background: $colorSecondary;
          color: $colorWord;
          .accordionArrow {
            &::after {
              border-color: #fff;
            }
          }
        }
      }
      .dep {
        text-align: end;
        color: $colorPrimary;
      }
      .contentShare {
        @extend .share;
        position: absolute;
        right: 2rem;
        ul {
          display: block;
          height: 0;
          overflow: hidden;
          transition: all 0.5s;
          position: absolute;
          background: #fff;
          box-shadow: 2px 2px 5px RGBA(0, 0, 0, 0.2);
          border-radius: 0.5rem;
          // padding: 0.25rem;
          margin-top: 0.25rem;
          z-index: 2;
          li {
            width: 2rem;
          }
        }
        .shareButton {
          display: block;

          border: 1px solid #ccc;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          text-indent: -9999px;

          text-align: center;

          background: url(../images/basic/icon_share.svg) no-repeat center;
          background-size: 80%;
          background-color: #fff;
        }
        &.active {
          ul {
            transition: all 0.5s;
            height: auto;
          }
        }
        &:hover,
        &.active {
          .shareButton {
            background: url(../images/basic/icon_share_dark.svg) no-repeat center;
            background-size: 80%;
            background-color: $aHover;
          }
        }
      }
      .accordionContent {
        border-radius: 1rem;
        padding: 0rem 1rem;
        background: #fff;
        border: 2px solid $colorSecondary;
      }
      .accordionArrow {
        &::after {
          border-color: $colorSecondary;
        }
      }
    }
  }
  .content {
    .pic {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      width: 45%;
      max-width: 400px;
      background: $colorInfo;
      border-radius: 0.25rem;
      overflow: hidden;
      padding: 0.5em 0.5em 0.2em;
      img {
        float: none;
        border-radius: 0.25rem;
        width: 100%;
        margin: 0;
        display: block;
      }
      span {
        text-align: center;
        display: block;
        font-size: 0.938em;
      }
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        width: auto;
        margin: 0px auto;
        display: block;
        margin-bottom: 0.5em;
      }
    }
    table {
      background: #fff;
    }
    img {
      &.floatLeft {
        float: left;
        margin: 0px 1em 1em 0;
        width: auto;
        max-width: 55%;
        @include screen('mobile') {
          float: none;
          max-width: 100%;
          margin: 0px auto;
        }
      }
      &.floatRight {
        float: right;
        margin: 0px 0 1em 1em;
        width: auto;
        max-width: 55%;
        @include screen('mobile') {
          float: none;
          max-width: 100%;
          margin: 0px auto;
        }
      }
    }
    a {
      @include aSetting;
    }
    .publishInfo {
      font-size: 0.875em;
      line-height: 1.5em;
      list-style: none;
      margin: 0 0 0.7em 0;
      // border-left: solid 5px $colorPrimary;
      border-left: solid 5px $colorLight;
      padding: 0.8em 1.5em 0.8em;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;

      li {
        flex: 1 1 calc(100% / 3);
        margin-bottom: 0.5em;
        @include screen('tablet') {
          flex: 1 1 calc(100% / 2);
        }
        @include screen('mobile') {
          flex: 1 1 calc(100% / 1);
        }
      }
    }
  }
}
table {
  td.num {
    text-align: center;
  }
}
.sliderFor {
  a {
    display: block;
  }
  .swiperArrow {
    padding: 10px;
  }
  .imgContainer {
    border-radius: 1rem;
    overflow: hidden;
  }
}
.navSlider {
  width: 60%;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
  .imgContainer {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: #000;
      opacity: 0.6;
    }
  }
  .swiper {
    background: #000;
  }
  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide-thumb-active {
    &::before {
      opacity: 0;
    }
  }
}
.calendartable {
  overflow-x: scroll;
  > table {
    min-width: 600px;
    background: #fff;
    border: 0 0 1px 0;
    caption {
      background: $aColor;
      margin-bottom: 0;
      padding: 1rem;
      text-align: center;
      color: #fff;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    th {
      border: 0px;
      background: $colorPrimary;
      color: #fff;
    }
    .date {
      text-align: center;
      font-weight: bold;
    }
    .center {
      text-align: center;
    }

    tr {
      td {
        border: 0px solid;
        border-bottom: 1px solid #ddd;
      }
      &:nth-child(odd) {
        background: lighten($colorGray, 15%);
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background: unset;
          }
          td {
            background: unset;
            border: none;
          }
          th {
            border: none;
            background: unset;

            color: $colorWord;
          }
        }
      }
    }
  }
}
.header {
  position: sticky;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
  }
}
