.bannerSlider + .swiperDots {
  button.swiper-pagination-bullet {
    background: $colorInfo;
    height: 2.5px;
    border-radius: 1px;
    width: 42px;
    opacity: 1;
  }
  button.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $colorSecondary;
  }
}
.menuOverlay {
  background: RGBA(0, 0, 0, 0);
  @include screen('mobile') {
    background: RGBA(0, 0, 0, 0.5);
  }
}
.breadcrumb {
  margin-bottom: 3rem;
  position: relative;
  font-weight: 500;
  padding-left: 3rem;
  li {
    line-height: 2rem;
  }
  &::before {
    position: absolute;
    content: '';
    background: url(../images/customize_img/breadcrumb_icon.png) center center no-repeat;
    background-size: contain;
    width: 35px;
    height: 30px;
    top: 0;
    left: 0;
  }
}
