/////////////////////////////////////////////////////////以下為demo範例///

// 首頁區塊設定
.mpSlider {
  .container {
    max-width: 1360px;

    @include screen('notebook') {
      max-width: 1200px;
    }
  }
  .bannerSlider {
    max-width: calc(1200px - 2em);
    // padding: 0 1em;
    margin-top: 0.5em;
    border-radius: 3em;
    + .swiperDots {
      max-width: calc(1200px - 2em);
      margin-top: -1.5em;
      z-index: 9;
      position: relative;
      justify-content: flex-start;
      padding-left: 8em;
      @include screen('notebook') {
        padding-left: 3em;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 8em;
      width: 100%;
      background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      z-index: 2;
    }
    .item {
      img {
        @include screen('tablet') {
          min-height: max-content;
          aspect-ratio: 2/1;
          min-height: 200px;
        }
      }
    }
  }

  .item {
    img {
      min-height: 350px;
      max-height: 587px;
      object-fit: cover;
    }
    .titleBox {
      position: absolute;
      max-width: remSize(1200);
      padding: 20px;
      width: 100%;
      margin: auto;
      inset: 0 0 70px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      @include screen('mobile') {
        padding: 20px 60px;
      }
      h1,
      h2 {
        padding: 0;
        margin: 0 0 10px;
        font-size: remSize(24);

        @include screen('mobile') {
          font-size: remSize(18);
        }
      }
      h1 {
        font-size: remSize(40);

        @include screen('tablet') {
          font-size: remSize(30);
        }
        @include screen('mobile') {
          font-size: remSize(22);
        }
      }
      p {
        margin: 0;
        font-size: remSize(16);
      }
    }
    .txtBox {
      position: absolute;
      background: rgb(8 31 56/80%);
      bottom: 0;
      left: 0;
      width: 100%;
      .txt {
        font-size: remSize(18);

        padding: 20px;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        max-width: 75rem;
        @include screen('tablet') {
          font-size: remSize(16);
        }
      }
    }
  }
  .bannerAd {
    min-width: 800px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    margin-top: -5em;
    a {
      max-width: 800px;
      max-height: 220px;
      @include screen('tablet') {
        max-width: unset;
        width: 100%;
      }
    }
    .item {
      img {
        aspect-ratio: 4/1;
        min-height: 220px;
        height: unset;
        border-radius: 0 0 3em 0;
      }
    }
    @include screen('notebook') {
      width: 65%;
      margin: -3em 0 0 auto;
      min-width: unset;

      .item {
        img {
          min-height: unset;
        }
      }
    }
    @include screen('tablet') {
      margin-top: 3em;
      width: 100%;
      .item {
        img {
          border-radius: 1.5em;
        }
      }
    }
  }
}

.videoSlider,
.courtSlider,
.knowledgeSlider {
  .swiperBox {
    margin: 2em 4em;
    iframe,
    img {
      margin-bottom: 1em;
      border-radius: 1em;
      height: 300px;
      width: 100%;
      object-fit: cover;
    }

    iframe {
      display: block;
      width: 100%;
    }
    .swiperArrow {
      background: unset;
      &.prevSlider {
        margin-left: -3.5em;
      }
      &.nextSlider {
        margin-right: -3.5em;
      }
    }
    .caption {
      color: $colorDark;
    }
    @include screen('mobile') {
      margin: 0;
      .swiperArrow {
        background: rgba(242, 242, 233, 0.8);
        padding: 0.25em;
        &::before {
          width: 25px;
          height: 40px;
        }
        &.prevSlider {
          margin-left: 0em;
          border-radius: 0 0.5em 0.5em 0;
        }
        &.nextSlider {
          margin-right: 0em;
          border-radius: 0.5em 0 0 0.5em;
        }
      }
    }
  }
}
.videoSlider {
  .pic {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: rgb(0 0 0/30%) url('../images/demo/icon_play.png') center no-repeat;
      transition: 0.3s ease-out;
      border-radius: 1em;
    }

    &:hover {
      &::before {
        background-color: rgb(0 0 0/0%);
        transition: 0.3s ease-out;
      }
    }
  }
}
.courtSlider {
  .swiperBox {
    img,
    iframe {
      border-radius: 0 2.5rem 2.5rem 2.5rem;
    }
    .swiperArrow {
      top: 38%;
      @include screen('mobile') {
        top: 150px;
      }
    }
  }
  .caption {
    .title {
      display: flex;
      color: $colorBrown;
      line-height: 2rem;
      font-weight: 500;
      img {
        width: 28px;
        height: 33px;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
    .txt {
      margin-left: 36px;
      margin-top: 0.5rem;
      letter-spacing: 0.1rem;
    }
  }
}
section {
  .titleBox {
    font-size: remSize(32);
    text-align: center;
    font-weight: bold;
    padding: 8% 0 2%;
    @include screen('tablet') {
      font-size: remSize(22);
    }
  }
  .listBox {
    margin-bottom: 3em;
    img {
      width: 100%;
    }
    .caption {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25em;
      color: #fff;

      z-index: 2;
    }
  }
  .more {
    display: block;
    width: 150px;
    border-radius: 2px;
    position: relative;
    margin: 0 0 0 auto;
    color: #333333;
    font-size: remSize(15);
    text-align: center;
    padding: 10px;
  }
  .moreBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    .arrowBtn {
      transition: all 0.5s;
      background-color: $colorLight;
      height: 3.8em;
      border-radius: 50%;
      width: 3.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 16px;
      }
    }
    &:hover {
      .arrowBtn {
        transition: all 0.5s;
        background: $colorPrimary;
      }
    }
  }
  h2.titleBox {
    // font-size: 1.75em;
    // // letter-spacing: 0.2rem;

    img {
      margin: 0 auto;
      width: 100px;
      display: flex;
      margin-bottom: 0.5rem;
    }
    .subtitle {
      display: block;
      font-size: remSize(26);
      margin-top: 0.5em;
    }
  }
}

body {
  background: $colorInfo;
}

.messageList {
  .titleBox {
    text-align: start;
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 1.25em;
    font-size: remSize(32);
    font-weight: bold;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 110px;
      height: 6px;
      border-radius: 3px;
      left: 0;
      background-color: $colorSecondary;
    }
  }
  .col {
    &:nth-child(2) {
      .titleBox {
        &:after {
          background-color: $colorBlue;
        }
      }
    }
  }
  .item {
    border: #e2e2e2 1px solid;
    border-width: 1px 0;
    a {
      display: flex;
      align-items: center;
      padding: 20px 0;
      .title {
        @include textLine(2, 1.5em);
        height: auto;
      }
      @include screen('xsMobile') {
        align-items: flex-start;
        flex-direction: column;
      }
      &:hover,
      &:focus-visible {
        .title {
          color: darken($colorSecondary, 20%);
          cursor: pointer;
        }
      }
    }
    & + .item {
      border-width: 0 0 1px;
    }
  }
  .date {
    width: 126px;
    color: #545454;
    @include screen('xsMobile') {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  .title {
    flex: 1 0 calc(100% - 170px);
    overflow: hidden;
    display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    color: #1a1a1a;
    margin: 0;
    font-weight: normal;
    font-size: remSize(16);
  }
  @include screen('mobile') {
    .videoSlider {
      .swiperArrow {
        top: 150px;
      }
    }
  }
}
.linkSection {
  @extend .listTypeF;

  .swiper {
    margin: 0 4rem !important;
    .swiper-slide {
      i {
        max-width: 120px;
        img {
          width: 60px;
        }
      }
      &:nth-child(1n) {
        i {
          background: $colorLink;
          &:hover {
            background: darken($colorLink, 10%);
          }
        }
      }
      &:nth-child(2n) {
        i {
          background: $colorSecondary;
          &:hover {
            background: darken($colorSecondary, 10%);
          }
        }
      }
      &:nth-child(3n) {
        i {
          background: $colorLight;
          &:hover {
            background: darken($colorLight, 10%);
          }
        }
      }
    }
  }
  .swiperArrow {
    background-color: unset;
    @include screen('mobile') {
      &::before {
        width: 25px;
        height: 40px;
      }
    }
  }
}

.listTypeB {
  .item a {
    display: block;
  }
  .date,
  .txt,
  .title {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    @include screen('mobile') {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .title {
    margin-top: -10%;
    margin-bottom: 20px;
    height: 75px;
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: remSize(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: remSize(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    @include screen('tablet') {
      font-size: remSize(16);
    }
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
  .txt {
    font-size: remSize(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeC {
  .flexSet {
    align-items: flex-end;
  }
  .item {
    margin-bottom: 30px;
    .pic {
      line-height: 0;
    }
    .col {
      padding: 0;
      margin: 0;
      & + .col {
        padding: 20px 0 0 3%;
      }
    }
  }
  .title {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: remSize(20);
    color: #000;
    font-weight: 500;
    line-height: 1.6;
  }
  .date {
    font-size: remSize(14);
    color: #666666;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 10px;
    position: relative;
    letter-spacing: 2px;
  }
  .txt {
    font-size: remSize(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeD {
  .item a {
    display: block;
    padding-right: 20px;
    @include screen('mobile') {
      padding-right: 0px;
    }
  }
  .pic {
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      height: 30%;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    }
    img {
      width: 100%;
      aspect-ratio: 23/31;
      display: block;
      object-fit: cover;
    }
  }
  .topBox {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: -20px;
    z-index: 2;
  }
  .txt {
    margin-left: 30px;
    margin-right: 0px;
    position: relative;
    z-index: 1;
  }
  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 20px 0;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: remSize(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: remSize(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
  .txt {
    font-size: remSize(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeE {
  .item a {
    display: block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: rgb(0 0 0/20%) url('../images/demo/icon_play.png') center no-repeat;
      transition: 0.3s ease-out;
    }
    img {
      display: block;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

.listTypeF {
  i {
    max-width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 1rem;
    margin: 0 auto 10px;
    background: linear-gradient(135deg, rgba(0, 93, 157, 1) 20%, rgba(152, 209, 167, 1) 100%);
    img {
      width: 60%;
    }
    @include screen('xsMobile') {
      padding: 0.75rem;
      height: 70px;
      width: 70px;
    }
    @media screen and (max-width: 374px) {
      height: unset;
      width: unset;
    }
  }
  .txt {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: remSize(18);
    line-height: 1.75rem;
    letter-spacing: 0.05em;
  }
}

.listTypeG {
  padding-bottom: 3%;
  background: url('../images/demo/listtypeg_bg.jpg') center no-repeat;
  .item a {
    display: block;
  }
  .pic {
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 1/2;
      display: block;
      object-fit: cover;
    }
  }
  .topBox {
    position: absolute;
    inset: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: remSize(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: remSize(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
}

.adSlider {
  padding: 3% 0 0;
  .swiperBox {
    padding: 0 50px;
  }
}
.infoSection {
  @extend .listTypeE;
  // background: url(../images/customize_img/bg_icon.png) center center no-repeat;
  // background-size: contain;
  .container {
    max-width: 1360px;
  }
  .listBox {
    .item {
      a {
        border-radius: 1rem;
        overflow: hidden;

        &::before {
          background: rgb(0 0 0/50%) center no-repeat;
        }
        .caption {
          font-size: 1.5rem;
          letter-spacing: 0.1rem;
          text-shadow: 0.1em 0.1em 0.2em black;
        }
      }
      &:nth-child(2) {
        margin-top: -3.5rem;
      }
      @include screen('tablet') {
        flex-basis: calc(100% / 3 - 4px);
        max-width: calc(100% / 3 - 4px);
        padding: 0.5em;
        a .caption {
          font-size: 1.2rem;
        }
      }
      @include screen('mobile') {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 1em;
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    @include screen('mobile') {
      margin-bottom: 2rem;
    }
  }
  .infoList {
    padding: 0 15px;
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 15px;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 8rem;
    li {
      margin: 0 1rem;
    }
    .block {
      display: block;
    }
    @include screen('mobile') {
      margin-bottom: 2rem;
    }
  }
  .moreBtn {
    margin: 0 auto;
    margin-top: -3rem;
  }
}
.qandaSection {
  @include screen('mobile') {
    margin-top: 5rem;
  }
  .qandaCard {
    padding: 4rem 2rem;
    border-radius: 1rem;
    background: #fedcae url(../images/customize_img/qanda_03.jpg) no-repeat top right;
    background-size: cover;
    min-height: 25rem;
    .title {
      margin-bottom: 1.5rem;
      a {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        color: #333333;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        i {
          margin-right: 1rem;
        }
      }
      + span {
        margin-left: 1rem;
        display: block;
      }
      .arrow_icon {
        margin-left: auto;
      }
    }
    p {
      margin-left: 1rem;
    }
    ul {
      list-style-type: '▸  ';
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
  .moreBtn {
    margin: 0 auto;
    width: 180px;
    margin-top: 2rem;
    .arrowBtn {
      width: 6rem;
      height: 6rem;
    }
    @include screen('mobile') {
      width: 150px;
      .arrowBtn {
        width: 3.8em;
        height: 3.8em;
      }
    }
  }
}
.courtSection {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  &::after {
    content: '';
    background: url(../images/customize_img/bg_02.jpg) no-repeat;
    position: absolute;
    width: 100%;
    height: 520px;
    top: 300px;
    // left: -50px;
    z-index: 0;
  }
  @include screen('tablet') {
    &::after {
      opacity: 0.3;
    }
  }

  .pic {
    margin-top: 7rem;
    position: relative;
    border-radius: 0.75rem;
    height: 20rem;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: rgb(0 0 0/30%) url('../images/demo/icon_play.png') center no-repeat;
      transition: 0.3s ease-out;
    }
    &:hover {
      &::before {
        background-color: rgb(0 0 0/0%);
        transition: 0.3s ease-out;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include screen('tablet') {
      margin-top: 2rem;
    }
  }
  .txt {
    color: $colorWord;
    margin-top: 1rem;
    display: block;
  }
  .item {
    position: relative;
    z-index: 1;
  }
  .info {
    > div {
      justify-content: end;
      padding-top: 5rem;
      @include screen('tablet') {
        padding-top: 0rem;
      }
      .col {
        @include screen('tablet') {
          width: 100%;
          flex-basis: 100%;
          max-width: unset;
        }
      }
    }
    .txt {
      font-weight: 500;
      line-height: 2rem;
      font-size: 1.2em;
      letter-spacing: 0.1rem;
      @include screen('tablet') {
        margin: 1rem;
      }
    }
  }
}
.knowledgeSection {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  &::before {
    content: '';
    background: url(../images/customize_img/bg_03.jpg) no-repeat top right;
    background-size: cover;
    position: absolute;
    width: 45rem;
    height: 32rem;
    right: 0;
    bottom: 8rem;

    border-radius: 2rem 0 0 2rem;
  }
  @include screen('tablet') {
    &::before {
      bottom: -5rem;
    }
  }

  .container {
    .flexSet {
      .col {
        width: 100%;
      }

      position: relative;

      @include screen('notebook') {
        &::after {
          right: -30px;
        }
      }
      @media screen and (max-width: 1260px) {
        &::after {
          right: 0px;
        }
      }
    }
  }
  .card {
    margin-top: 8rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2rem 0 2rem 2rem;
    padding: 2.5rem 2rem;
    width: 56rem;
    position: relative;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    @include screen('tablet') {
      width: 100%;
      margin-top: 0rem;
    }
  }
  .knowledgeSlider {
    .swiper-slide {
      padding: 4px;
      a {
        display: flex;
        align-items: center;
      }
      ul {
        list-style-type: '⦁  ';
        margin: 0;
        li {
          letter-spacing: 0.1rem;
          line-height: 2rem;
        }
      }
      @include screen('mobile') {
        a {
          display: block;
          img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
          }
        }
      }
      @include screen('xsMobile') {
        a {
          img {
            height: 10rem;
          }
        }
      }
    }
    .swiperBox {
      .swiper-wrapper {
        align-items: center;
        img {
          margin-bottom: 0;
        }
      }
      @include screen('tablet') {
        margin: 2rem;
        .swiper-wrapper {
          align-items: self-start;
        }
      }
      margin-bottom: 0;
      img {
        height: 15rem;
        width: 25rem;
      }
      .caption {
        margin-left: 1.5rem;
        width: 50%;
        .txt {
          line-height: 2rem;
          display: block;
        }
      }
    }
    .pic {
      position: relative;
    }

    .captionTitle {
      position: absolute;
      letter-spacing: 0.1rem;
      font-size: 1.75rem;
      border-radius: 1rem;
      display: flex;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      width: 100%;
      height: 15rem;
      justify-content: center;
      align-items: center;
      color: #fff;
      @include screen('xsMobile') {
        height: 10rem;
      }
    }

    @include screen('tablet') {
      width: 100%;
      .swiperBox {
        .swiperArrow {
          background: unset;
          &.prevSlider {
            margin-left: -3.5em;
          }
          &.nextSlider {
            margin-right: -3.5em;
          }
        }
      }
    }
  }
}
