.fatFooter {
  overflow: hidden;
  padding-bottom: 1em;
  margin: 0 auto;
  // background: $fatFooterBgColor;
  background: url('../images/customize_img/footer_bg.jpg') bottom center;
  background-size: cover;
  .container {
    overflow: hidden;
    box-sizing: border-box;
    @include gutter;
  }
  // 按鈕
  .btnFatFooter {
    font-size: 0.813em;
    display: block;
    width: 12em;
    height: 6em;
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: calc(50% - 6em);
    top: 1.5em;
    margin: 0 0 0 0;
    z-index: 90;
    text-indent: -9999px;
    border-radius: 0;
    &:before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      border: 2px solid #fff;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      left: 50%;
      top: 24px;
      margin-left: -15px;
    }
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
    }
    &.close {
      &:before {
        transform: rotate(135deg);
        top: 5px;
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    // padding: 8em 0 0 2em;
    padding: 8em 0 0 0;
    box-sizing: border-box;
    @include screen('mobile') {
      padding: 7em 0.5em 1em;
    }

    ul {
      display: flex;
      @include liReset;
      padding: 0 4px;
      @include screen('mobile') {
        flex-flow: wrap row;
      }
      li {
        flex-grow: 1;
        flex-shrink: 1;
        // flex-basis: 16%;
        flex-basis: 12.5%;
        // margin: 0 0.5rem;
        box-sizing: border-box;
        @include screen('mobile') {
          flex: 1 1 90%;
        }

        a {
          line-height: 1.5;
          display: block;
          font-weight: bold;
          padding: 0.5em 0.25em;
          color: #fff;
          box-sizing: border-box;
          &:hover {
            box-shadow: none;
          }
        }
        ul {
          display: block;
          margin: 0;
          margin-left: 0.25rem;
          padding: 0 1em 0 0;
          transition: height 0.5s;
          @include screen('mobile') {
            width: auto;
            overflow: hidden;
          }
          li {
            width: auto;
            margin-right: 0.5em;
            display: block;
            padding-left: 0.5rem;
            position: relative;
            &::before {
              position: absolute;
              content: ' - ';
              color: #fff;
              top: 6px;
              left: 0px;
            }
            @include screen('mobile') {
              display: inline-block;
            }
            @include screen('xsMobile') {
              padding-left: 1rem;
              &::before {
                top: 0px;
              }
            }

            a {
              display: block;
              transition: all 0.5s;
              // @include aSetting($colorWord);
              color: #fff;
              font-weight: normal;
              text-align: left;
              font-size: remSize(14);
              line-height: 1.5em;
              padding: 0.5em 0;
              background: none;
              padding-left: 0.5rem;

              @include screen('xsMobile') {
                font-size: 0.813rem;
                padding: 0.25em 0;
              }
            }
            &:hover {
              a {
                color: $colorLight;
              }
              &::before {
                color: $colorLight;
              }
            }
          }
          //第三層關閉
          ul {
            display: none;
          }
        }
      }
    }

    @include screen('tablet') {
      > ul {
        > li {
          > a {
            min-height: 60px;
          }
        }
      }
    }
    @include screen('mobile') {
      > ul {
        > li {
          > a {
            min-height: unset;
          }
        }
      }
    }
  }
}

.fatFooter.typeB {
  background: linear-gradient(175deg, rgba(75, 146, 160, 1) 0%, rgba(0, 93, 157, 1) 80%);
  .btnFatFooter {
    right: 0;
    left: auto;
    width: 64px;
    aspect-ratio: 1/1;
    background: #e2e2e2;
    &::before {
      border-color: #000;
      top: 45%;
    }
    &:hover,
    &:focus {
      background: #fff;
    }
    &.close:before {
      top: 35%;
    }
  }
  a {
    color: #fff;
  }
  nav {
    padding: 70px 0 20px;
    ul li ul {
      overflow: hidden;
      li a {
        color: #dddddd;
        padding: 5px 0 5px 15px;
        position: relative;
        // font-size: rem(14);
        font-size: rem(14, $remFontSize);
        &::before {
          content: '-';
          position: absolute;
          left: 0;
          top: 4px;
          color: #fff;
        }
      }
    }
  }
}
